@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap');
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #575F7D;
  font-size: 20px;
  font-weight: 1000;
}

p {
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}

a:hover {
  color: black;
}

#profile_pic {
  border-radius: 50%;
}

/* #card2 {
  text-decoration: none;
} */

.card {
  background-color: #F7F9FC;
  padding: 40px;
  box-shadow: 0px 2px 5px rgba(58, 59, 59, 0.5);
  border-radius: 4px;
  width: 50%;        /* Set the width */
  text-align: center;
  margin: 15px auto;
}
.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.BTN {
  padding: 10px 20px 10px;
  background-color: #575F7D;
  border-radius: 4px;
  color: white;
}

.social_logo {
  font-size: 35px;
  color: #575F7D;
}

body {
  background-position: center;
  background-image: url("images/fractal.jpg");
}
